Repository RevRelay/Backend, pull requests merged in 2021-12, with the labels that each got.

#19 Login/registration
  pom.xml
  src/main/java/com/revature/RevRelay/RevRelayConfig.java
  src/main/java/com/revature/RevRelay/controllers/ExceptionController.java
  src/main/java/com/revature/RevRelay/controllers/GroupsController.java
  src/main/java/com/revature/RevRelay/controllers/PageController.java
  src/main/java/com/revature/RevRelay/controllers/PublicUserController.java
  src/main/java/com/revature/RevRelay/controllers/UserController.java
  src/main/java/com/revature/RevRelay/models/Chatroom.java
  src/main/java/com/revature/RevRelay/models/Group.java
  src/main/java/com/revature/RevRelay/models/User.java
  src/main/java/com/revature/RevRelay/models/dtos/UserAuthResponse.java
  src/main/java/com/revature/RevRelay/models/dtos/UserLoginAuthRequest.java
  src/main/java/com/revature/RevRelay/models/dtos/UserRegisterAuthRequest.java
  src/main/java/com/revature/RevRelay/repositories/GroupRepository.java
  src/main/java/com/revature/RevRelay/repositories/PageRepository.java
  src/main/java/com/revature/RevRelay/repositories/UserRepository.java
  src/main/java/com/revature/RevRelay/security/NoRedirectStrategy.java
  src/main/java/com/revature/RevRelay/security/TokenAuthFilter.java
  src/main/java/com/revature/RevRelay/security/TokenAuthProvider.java
  src/main/java/com/revature/RevRelay/security/WebSecurityConfig.java
  src/main/java/com/revature/RevRelay/services/GroupService.java
  src/main/java/com/revature/RevRelay/services/PageService.java
  src/main/java/com/revature/RevRelay/services/UserService.java
  src/main/java/com/revature/RevRelay/utils/JwtUtil.java
  src/main/resources/application.properties
  src/test/java/com/revature/RevRelay/RevRelayApplicationTests.java
  src/test/java/com/revature/RevRelay/services/UserServiceTest.java
  src/test/resources/test-application.properties
Labels: Test, Documentation

#21 Userdocs
  src/main/java/com/revature/RevRelay/models/User.java
  src/main/java/com/revature/RevRelay/repositories/UserRepository.java
  src/main/java/com/revature/RevRelay/services/UserService.java
  src/test/java/com/revature/RevRelay/services/UserServiceTest.java
Labels: Documentation

#22 Dev groups test
  Dockerfile
  src/main/java/com/revature/RevRelay/controllers/ExceptionController.java
  src/main/java/com/revature/RevRelay/controllers/GroupsController.java
  src/main/java/com/revature/RevRelay/controllers/PageController.java
  src/main/java/com/revature/RevRelay/models/Page.java
  src/main/java/com/revature/RevRelay/repositories/PageRepository.java
  src/main/java/com/revature/RevRelay/services/GroupService.java
  src/main/java/com/revature/RevRelay/services/PageService.java
  src/test/java/com/revature/RevRelay/services/GroupServiceTest.java
  src/test/java/com/revature/RevRelay/services/PageServiceTest.java
  src/test/java/com/revature/RevRelay/services/controllerTest/GroupControllerTest.java
  src/test/resources/test-application.properties
Labels: Test, Documentation

#24 Extra documentation for files
  src/main/java/com/revature/RevRelay/controllers/ExceptionController.java
  src/main/java/com/revature/RevRelay/controllers/GroupsController.java
  src/main/java/com/revature/RevRelay/controllers/PageController.java
  src/main/java/com/revature/RevRelay/controllers/UserController.java
  src/main/java/com/revature/RevRelay/enums/PostType.java
  src/main/java/com/revature/RevRelay/models/Group.java
  src/main/java/com/revature/RevRelay/models/Page.java
  src/main/java/com/revature/RevRelay/models/Post.java
  src/main/java/com/revature/RevRelay/models/dtos/UserAuthResponse.java
  src/main/java/com/revature/RevRelay/models/dtos/UserLoginAuthRequest.java
  src/main/java/com/revature/RevRelay/models/dtos/UserRegisterAuthRequest.java
  src/main/java/com/revature/RevRelay/repositories/GroupRepository.java
Labels: Test

#25 Adding in get by UserID to controller, services, and testing
  src/main/java/com/revature/RevRelay/controllers/UserController.java
  src/main/java/com/revature/RevRelay/models/dtos/UserDTO.java
  src/main/java/com/revature/RevRelay/services/UserService.java
  src/test/java/com/revature/RevRelay/services/UserServiceTest.java
Labels: Test
