Repository RevRelay/Backend, pull requests merged in 2022-01, with the labels that each got.

#26 New /users/current endpoint.
  src/main/java/com/revature/RevRelay/controllers/UserController.java
  src/main/java/com/revature/RevRelay/services/UserService.java
  src/test/java/com/revature/RevRelay/services/UserServiceTest.java
Labels: Test, Dcomantetion

#27 Added Posts
  src/main/java/com/revature/RevRelay/controllers/GroupsController.java
  src/main/java/com/revature/RevRelay/controllers/PageController.java
  src/main/java/com/revature/RevRelay/controllers/PostController.java
  src/main/java/com/revature/RevRelay/controllers/PublicUserController.java
  src/main/java/com/revature/RevRelay/controllers/UserController.java
  src/main/java/com/revature/RevRelay/models/Group.java
  src/main/java/com/revature/RevRelay/models/Page.java
  src/main/java/com/revature/RevRelay/models/Post.java
  src/main/java/com/revature/RevRelay/models/User.java
  src/main/java/com/revature/RevRelay/repositories/GroupRepository.java
  src/main/java/com/revature/RevRelay/repositories/PageRepository.java
  src/main/java/com/revature/RevRelay/repositories/PostRepository.java
  src/main/java/com/revature/RevRelay/security/TokenAuthFilter.java
  src/main/java/com/revature/RevRelay/security/TokenAuthProvider.java
  src/main/java/com/revature/RevRelay/security/WebSecurityConfig.java
  src/main/java/com/revature/RevRelay/services/GroupService.java
  src/main/java/com/revature/RevRelay/services/PageService.java
  src/main/java/com/revature/RevRelay/services/PostService.java
  src/main/java/com/revature/RevRelay/services/UserService.java
  src/main/resources/application.properties
  src/test/java/com/revature/RevRelay/services/GroupServiceTest.java
  src/test/java/com/revature/RevRelay/services/PageServiceTest.java
  src/test/java/com/revature/RevRelay/services/PostServiceTest.java
  src/test/java/com/revature/RevRelay/services/controllerTest/GroupControllerTest.java
  src/test/java/com/revature/RevRelay/services/controllerTest/PageControllerTest.java
  src/test/java/com/revature/RevRelay/services/controllerTest/PostControllerTest.java
  src/test/resources/test-application.properties
Labels: Test, Dcomantetion

#33 Added SearchService with methods and tests.
  src/main/java/com/revature/RevRelay/controllers/SearchController.java
  src/main/java/com/revature/RevRelay/models/dtos/SearchResultItem.java
  src/main/java/com/revature/RevRelay/repositories/GroupRepository.java
  src/main/java/com/revature/RevRelay/repositories/UserRepository.java
  src/main/java/com/revature/RevRelay/services/SearchService.java
  src/main/java/com/revature/RevRelay/services/UserService.java
  src/main/java/com/revature/RevRelay/utils/JwtUtil.java
  src/main/resources/application.properties
  src/test/java/com/revature/RevRelay/services/SearchServiceTest.java
  src/test/java/com/revature/RevRelay/services/UserServiceTest.java
Labels: Test

#35 Added new updateUser method.
  src/main/java/com/revature/RevRelay/controllers/UserController.java
  src/main/java/com/revature/RevRelay/repositories/PageRepository.java
  src/main/java/com/revature/RevRelay/security/TokenAuthFilter.java
  src/main/java/com/revature/RevRelay/services/PageService.java
  src/main/java/com/revature/RevRelay/services/PostService.java
  src/main/java/com/revature/RevRelay/services/UserService.java
  src/test/java/com/revature/RevRelay/controllers/GroupControllerTest.java
  src/test/java/com/revature/RevRelay/controllers/PageControllerTest.java
  src/test/java/com/revature/RevRelay/controllers/PostControllerTest.java
  src/test/java/com/revature/RevRelay/services/UserServiceTest.java
Labels: Test, Documentation

#37 Rph group edits
  src/main/java/com/revature/RevRelay/controllers/GroupsController.java
  src/main/java/com/revature/RevRelay/models/Group.java
  src/main/java/com/revature/RevRelay/models/Page.java
  src/main/java/com/revature/RevRelay/services/GroupService.java
  src/test/java/com/revature/RevRelay/services/GroupServiceTest.java
  src/test/java/com/revature/RevRelay/services/PostServiceTest.java
Labels: Test

#38 Group fix
  src/main/java/com/revature/RevRelay/controllers/GroupsController.java
  src/test/java/com/revature/RevRelay/controllers/GroupControllerTest.java
Labels: Documentation

#39 added tests for JwtUtil
  src/main/java/com/revature/RevRelay/utils/JwtUtil.java
  src/test/java/com/revature/RevRelay/utils/JwtUtilTest.java
Labels: Test, Documentation

#41 Add friend mergeability
  src/main/java/com/revature/RevRelay/controllers/PageController.java
  src/main/java/com/revature/RevRelay/controllers/UserController.java
  src/main/java/com/revature/RevRelay/models/User.java
  src/main/java/com/revature/RevRelay/services/PageService.java
  src/main/java/com/revature/RevRelay/services/UserService.java
  src/test/java/com/revature/RevRelay/controllers/GroupControllerTest.java
  src/test/java/com/revature/RevRelay/controllers/PostControllerTest.java
  src/test/java/com/revature/RevRelay/services/PageServiceTest.java
Labels: Test, Documentation

#42 Added functionallity to have chatrooms saved on java backend
  src/main/java/com/revature/RevRelay/controllers/ChatroomController.java
  src/main/java/com/revature/RevRelay/models/Chatroom.java
  src/main/java/com/revature/RevRelay/models/User.java
  src/main/java/com/revature/RevRelay/repositories/ChatroomRepository.java
  src/main/java/com/revature/RevRelay/services/ChatroomService.java
  src/test/java/com/revature/RevRelay/services/ChatroomTest.java
  src/test/java/com/revature/RevRelay/services/GroupServiceTest.java
  src/test/java/com/revature/RevRelay/services/PageServiceTest.java
Labels: Test, Documentation

#48 Add owner to group
  src/main/java/com/revature/RevRelay/controllers/GroupsController.java
  src/main/java/com/revature/RevRelay/controllers/PostController.java
  src/main/java/com/revature/RevRelay/models/Group.java
  src/main/java/com/revature/RevRelay/models/Page.java
  src/main/java/com/revature/RevRelay/models/Post.java
  src/main/java/com/revature/RevRelay/models/User.java
  src/main/java/com/revature/RevRelay/services/GroupService.java
  src/main/java/com/revature/RevRelay/services/PageService.java
  src/main/java/com/revature/RevRelay/services/PostService.java
  src/main/java/com/revature/RevRelay/services/UserService.java
  src/main/resources/application.properties
  src/test/java/com/revature/RevRelay/services/ChatroomTest.java
  src/test/java/com/revature/RevRelay/services/GroupServiceTest.java
  src/test/java/com/revature/RevRelay/services/PageServiceTest.java
  src/test/java/com/revature/RevRelay/services/PostServiceTest.java
  src/test/java/com/revature/RevRelay/services/UserServiceTest.java
Labels: Test, Documentation

#51 Adding addfriends controller
  src/main/java/com/revature/RevRelay/controllers/UserController.java
Labels: Documentation

#50 fixed one of 12432453 issues
  src/main/java/com/revature/RevRelay/controllers/PageController.java
  src/main/java/com/revature/RevRelay/models/Group.java
  src/main/java/com/revature/RevRelay/models/Page.java
  src/main/java/com/revature/RevRelay/models/dtos/PageDTO.java
  src/main/java/com/revature/RevRelay/services/PageService.java
Labels: Documentation
